form {
  background: #fff;
  padding: 2em 4em 2em;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 0 1em #222;
  border-radius: 5px;
}

label {
  display: block;
  font-size: 1.6em;
  margin: 0 0 .5em;
  color: #333;
}

.form-title {
  text-align: center;
  margin-top: 40px;
}

.reminder {
  border-radius: 5px;
  display: block;
  font-size: 1em;
  text-align: center;
  background: #2F558E;
  padding: 5px;
  margin-top: 10px;
  color: #fff;
}

.form {
  margin: 20px 40px;
}

.fm {
  background-color: rgba(1, 126, 179, 0.7);
}

label {
  color: white;
}
