td, th {
  /*border: 1px solid #ddd;*/
  text-align: left;
  padding: 8px;
}

th {
  text-align: center;
  border-bottom: 1px solid #ddd;

}

th:not(:first-child) {
  border-left: 1px solid #ddd;
}

caption {
  color: #014983;
	font-family: 'Vidaloka', serif;
  font-size: 1.8em;
}

.game-history tr:nth-child(even) {
  color: white;
  background-color: rgba(1, 126, 179, 0.7);
}
