td, th {
  /*border: 1px solid #ddd;*/
  text-align: left;
  padding: 8px;
}

th {
  text-align: center;
  border-bottom: 1px solid #ddd;

}

th:not(:first-child) {
  border-left: 1px solid #ddd;
}

caption {
  color: #014983;
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.8em;
}

.game-history tr:nth-child(even) {
  color: white;
  background-color: rgba(1, 126, 179, 0.7);
}

.responsive-table {
  width: 100%;
  overflow-x: auto;
}

.primary {
  margin-top: 0;
}

.secondary {
  display: flex;
  flex-direction: row;
}

.secondary section {
  flex-basis: 100%;
  margin: 5px;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
  .secondary {
    flex-direction: column;
  }

  .secondary section {
    flex-basis: auto;
  }

@media (min-width: 1042px) {
	.primary {
		margin-top: 50px;
	}
}
