/* =================================
  Base Element Styles
==================================== */

html, body {
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	color: #211F21;
}

p {
	font-size: .95em;
	margin-bottom: 1em;
}

h2,
h3 {
	color: #014983;
	/*font-family: 'Vidaloka', serif;*/
	font-family: 'Source Code Pro', monospace;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1em;
}

.name a,
.main-nav a {
	color: #014983;
	/*font-family: 'Vidaloka', serif;*/
	font-family: 'Source Code Pro', monospace;
	font-size: 1.4em;
}

.inventory a {
	color: #211F21;
	font-family: fantasy;
	margin-right: 0.3em;
}

.inventory {
	line-height: 1.6;
}

h2,
h3,
h4 {
	margin-top: 0;
}

h4 {
	margin-bottom: .4em;
}

a {
	text-decoration: none;
	font-weight: bold;
}

img {
	max-width: 120px;
}

.extra-img {
	max-width: 100%;
}

figure {
	margin: 0;
	line-height: 0;
	position: relative;
}

figcaption {
	font-size: .9em;
	line-height: 0.8;
	color: #fff;
	padding: 1em;
	background: #014983;
	position: absolute;
	bottom: 0;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
	margin: 0;
}

.main-nav {
	margin-top: 5px;
}

	.name a,
	.main-nav a {
		display: block;
		text-align: center;
		padding: 10px 15px;
	}

	.main-nav a {
		font-size: 1em;
		color: #014983;
		text-transform: uppercase;
		white-space: nowrap;
	}

	.main-nav a:hover {
		color: #57AED1;
	}

.search {
	display: block;
	margin: 0 auto;
	font-size: 1em;
	width: 175px;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

.banner,
.main-footer {
	text-align: center;
}

.banner {
	color: #211F21;
	background-image: url("reflection-pad-gaming-gamepad.jpg");
	background-color: #017EB3;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 3.2em 0;
	border: 1px solid #575757;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}

.main-footer {
	background: #017EB3;
	padding: 2em 0;
	margin-top: 30px;
	color: white;
}

.primary,
.secondary {
	margin-top: 50px;
}

.update-img {
	float: left;
	padding-right: 15px;
}

.feat-img {
	float: left;
	padding-right: 15px;
}

.want-to-play-img {
	max-width: 100%;
	float: left;
	padding-right: 15px;
}

.content,
.new-content,
.main-footer,
h3 {
	clear: both;
}

.update-text {
	overflow: auto;
}

figcaption {
	max-width: 310px;
}

.update-content {
	border: 2px solid rgba(1, 126, 179, 0.3);
	box-shadow: 2px 2px 1px -1px rgba(1, 126, 179, 0.15);
	border-radius: 5%;
	margin-bottom: 5px;
	padding: 5px 5px 0 5px;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
	border-radius: 20%;
}

.headline {
	margin-bottom: 0;
	color: white;
}

.tagline {
	color: white;
}

.content {
	margin-bottom: 40px;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
	.main-header,
	.row {
		width: 90%;
		margin: 0 auto;
	}

	figcaption {
		width: 100%;
	}

}

@media (min-width: 1025px) {

	.main-header,
	.row {
		width: 80%;
		max-width: 1150px;
	}

	.tertiary {
		margin-top: 50px;
	}
}
