/* =================================
  Base Element Styles
==================================== */

html, body {
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
	font-family: 'Vidaloka', serif;
	font-size: 1.4em;
}

h2,
h3,
h4 {
	margin-top: 0;
}

h4 {
	margin-bottom: .4em;
}

a {
	text-decoration: none;
	font-weight: bold;
}

img {
	max-width: 120px;
}

.extra-img {
	max-width: 100%;
}

figure {
	margin: 0;
	line-height: 0;
	position: relative;
}

figcaption {
	font-size: .9em;
	line-height: 0.8;
	color: #fff;
	padding: 1em;
	background: rgba(19,43,102, .85);
	position: absolute;
	bottom: 0;
	width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
	margin: 0;
}

.main-nav {
	margin-top: 5px;
}

	.name a,
	.main-nav a {
		display: block;
		text-align: center;
		padding: 10px 15px;
	}

	.main-nav a {
		font-size: 1em;
		color: #371167;
		text-transform: uppercase;
	}

	.main-nav a:hover {
		color: #988C0D;
	}

input[type=text] {
	display: block;
	margin: 0 auto;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

.banner,
.main-footer {
	text-align: center;
}

.banner {
	color: black;
	background-image: url("reflection-pad-gaming-gamepad.jpg");
	background-color: #3acec2;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 3.2em 0;
	margin-bottom: 60px;
	border: 1px solid #575757;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}

.primary,
.secondary,
.tertiary {
	margin-top: 50px;
}

.update-img {
	float: left;
	padding-right: 15px;
}

.update {
	clear: both;
}

.update-text {
	overflow: auto;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
	border-radius: 20%;
}

.headline {
	margin-bottom: 0;
	color: white;
}

.tagline {
	color: white;
}

.icon-location {
	width: 150px;
	position: absolute;
	top: -15px;
	right: -15px;
	border-radius: 30%;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

	body {
		padding-top: 68px;
	}

	.main-header {
		position: fixed;
		background: #fff;
		box-shadow: 0 1px 4px rgba(0,0,0,0.4);
		width: 100%;
		top: 0;
		z-index: 1000;
	}

	.container {
		width: 90%;
		margin: 0 auto;
	}

	.name,
	.col {
		float: left;
	}

	.primary,
	.secondary {
		width: 50%;
		margin-top: 0;
	}

	.tertiary {
		margin-top: 50px;
	}

	.main-nav {
		float: right;
	}

	.main-nav li {
		display: inline-block;
		margin-left: 15px;
	}

	.tagline {
		font-size: 1.4em;
	}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1025px) {

	.container {
		width: 80%;
		max-width: 1150px;
	}

	.primary {
		width: 40%;
	}

	.secondary,
	.tertiary {
		width: 30%;
	}

	.primary,
	.secondary,
	.tertiary {
		margin-top: 0;
	}

}
